.submitButton {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 0.7em 2em;
    border: 1px solid #38c925;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #38c925;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    width: 252px;
    height: 49px;
    margin-bottom: 10px;
    margin-left: 10px;
   }
   
   .submitButton:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #38c925;
    z-index: -1;
   }
   
   .submitButton:hover, .submitButton:focus {
    color: white;
    cursor: pointer;
   }
   
   .submitButton:hover:before, .submitButton:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    cursor: pointer;
   }
   
   .submitButton:active {
    transform: scale(0.9);
   }